<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Día</ion-label>
    <ion-input [(ngModel)]="nuevoRegistro.dia" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mes</ion-label>
    <ion-input [(ngModel)]="nuevoRegistro.mes" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Año</ion-label>
    <ion-input [(ngModel)]="nuevoRegistro.anio" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ingresos</ion-label>
    <ion-input [(ngModel)]="nuevoRegistro.ingresos" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Egresos</ion-label>
    <ion-input [(ngModel)]="nuevoRegistro.egresos" type="number"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="agregarRegistro()">Agregar Registro</ion-button>
</ion-content>
